@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
  background: url("bg.png"), -webkit-linear-gradient(bottom,#2c3d4f, #19bc9c);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  margin-top: 3%;
  background-color: #fff;
  border-radius: 8px;
}

header {
  padding: 20px;
 
}


.btnDone {
  border: none;
  border-radius: 5px;
  background-color: #19bc9c;
  color: #000;
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 50%;
  margin-left: 43%;
}
.btnDone:hover {
  background-color: #000;
  color: #fff;
}